/* BLOG POST */
* {
    box-sizing: border-box;
  }

img{
	max-width: 100%;
	overflow-x: hidden;
}

.article-text{
	text-align: left;
}

.article-heading1{
	padding: 1em;
  text-align: center;
  max-width: 100%;
}

/* Text Styles Go Here*/

@font-face { font-family: CooperHewitt; src: url(fonts/CooperHewitt-Medium.otf); } 

h1{
	font-family: 'CooperHewitt', Helvetica, sans-serif;
	font-size:48px;
	color:#24262f;
	letter-spacing:0;
	text-align:left;
	line-height:56px;
}
