/* BLOG POST */
* {
    box-sizing: border-box;
  }

img{
	max-width: 100%;
	overflow-x: hidden;
}

.article-text{
	text-align: left;
}

.article-heading1{
	padding: 1em;
	text-align: center;
}

ul{
   list-style-type: disc; 
   padding-left: 3rem;
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 32px;
}

.leftcolumn {   
    float: left;
    width: 75%;
  }

.leftcolumn > h2{
    text-align: left;
}

.leftcolumn h3{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.2em;
}

.leftcolumn p {
  padding-top: 1em;
  padding-bottom: 1em;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  /* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
 }

 /* FLEXBOX ARTICLES */

 .article-container {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* align-items: center; */
}

.article-item{
	background: #EAEAEA;
	margin: 8px;
	/* padding: 20px; */
	border-radius: 4px;
	text-align: left;

	flex: 1;
	display: flex;
	flex-wrap: wrap;

}

 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

 @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
      overflow: hidden;
    }
  }
