*{
	margin: 0px;
	padding: 0px;
}

img {
	max-width: 100%;
  }

/* GENERAL */

.wrapper{
	display: grid;
	grid-gap: 20px;
}

.top-home {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
	  "cta1 cta2"
  }

.top-uxresearch {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"cta1 cta2 cta3"
}

.hero {
	display: grid;
	padding: 80px;
	justify-content: center;
}

.hero h1 {
	max-width: 876px;
}

.cta {
	padding: 40px 0px;
}

.cta1 {
	grid-area: cta1;
}

.cta2 {
	grid-area: cta2;
}

.cta3 {
	grid-area: cta3;
}

#ux-page-feature{
	display: inline-block;
	position: relative;
	width: 25em;
	padding-bottom: 7.5em;
	padding-left: 6.72em;
	padding-right: 6.72em;
}

.main-nav ul{
	display: grid;
	grid-gap: 10px;
	padding: 1%;
	list-style: none;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.main-nav a {
	display: block;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}

/* Text Styles Go Here*/

h1{
	font-family:Muli-Bold;
	font-size:48px;
	color:#24262f;
	letter-spacing:0;
	text-align:center;
	line-height:56px;
}

h2{
	padding: .5em;
	font-family: 'Muli-Bold', sans-serif;
	font-size:30px;
	color:#24262f;
	letter-spacing:0;
	text-align:center;
}

h3{
	padding: .75em;
	font-family: 'Muli', sans-serif;
}

body{
	background-color:#FBFCFF;
	text-align: center;
	font-family: 'Muli', sans-serif;
}

p{
	font-family:Muli;
	font-size:16px;
	color:#24262f;
	letter-spacing:0;
	text-align:center;
	line-height:24px;
	line-height: 24px; 
	padding: 2em;
}

/* Anchor Links */

a {
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline;
}

nav a{
	padding: 1.75em 3.75em;
	text-decoration: none;
	font-family: 'Muli-Light', sans-serif;
	font-size:18px;
	color:#24262f;
	letter-spacing:0;
	text-align:center;
}

nav a:active{
	color: #573697;
}

nav a:focus{
	text-decoration: underline;
	color: #573697;
}

/* IMAGE GALLERY */
.gallery {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
	"image1 image2 image3"
	"image4 image5 image6"
  }
  
.image{
	width: 100%;
}

/*Grid Display Style for selected work page*/

.selected-work{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}

.selected-work-display img {
	margin-top: 8px;
	vertical-align: middle;
	max-width: 400px;
  }

  /* Font Awesome Classes And Style*/

#footer_fontawesome_icons li{
	font-size: 2em;
	text-align: center;
	display: inline;
	padding: 2em 1em;
  }

  @media (max-width: 700px) {
	.top-home {
	  grid-template-areas:
		"cta1 cta2"
	}
	.gallery {
		display: grid;
		grid-gap: 20px;
		grid-template-areas: 
		"image1 image2"
		"image3 image4"
		"image5 image6"
	  }
  
  @media (max-width: 500px) {
	/* HOME PAGE */
	.top-home {
	  grid-template-areas:
		"cta1"
		"cta2"
	}

	.hero {
		grid-template-columns: 1fr;
	}
	.hero h1{
		font-size: 22px;
	}

	.gallery {
		display: grid;
		grid-gap: 20px;
		grid-template-areas: 
		"image1"
		"image2"
		"image3"
		"image4"
		"image5" 
		"image6"
	  }
  }
