*{
	margin: 0px;
	padding: 0px;
}


img {
	max-width: 100%;
  }

/* GENERAL */

.wrapper{
	display: grid;
	grid-gap: 20px;
}

.top-home {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
	  "cta1 cta2"
  }

.top-uxresearch {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"cta1 cta2 cta3"
}

.hero {
	display: grid;
	padding: 80px;
	justify-content: center;
}

.hero h1 {
	max-width: 876px;
}

.cta {
	padding: 40px 0px;
}

.cta1 {
	grid-area: cta1;
}

.cta2 {
	grid-area: cta2;
}

.cta3 {
	grid-area: cta3;
}

.main-nav ul{
	display: grid;
	grid-gap: 10px;
	padding: 1%;
	list-style: none;
	grid-template-areas:
		"li li li li"
}

.main-nav a {
	display: block;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}

.current{
	font-family: 'Muli-Black', 'Helvetica-Bold', sans-serif;
	color: #183D65;
	text-decoration: underline;
}

/* Text Styles Go Here*/

h1{
	font-family: 'Muli-Bold', Helvetica, sans-serif;
	font-size:48px;
	color:#24262f;
	letter-spacing:0;
	text-align:center;
	line-height:56px;
}

h2{
	padding: .5em;
	font-family: 'Muli-Bold', Helvetica, sans-serif;
	font-size:30px;
	color:#24262f;
	letter-spacing:0;
	text-align:center;
}

h3{
	padding: .75em;
	font-family: 'Muli', Helvetica, sans-serif;
}

body{
	background-color:#FBFCFF;
	text-align: center;
	font-family: 'Muli', Helvetica, sans-serif;
}

p{
	font-family: 'Muli', Helvetica, sans-serif;
	font-size:16px;
	color:#24262f;
	letter-spacing:0;
	text-align:center;
	line-height:24px;
	line-height: 24px; 
	padding: 2em;
}

/* Anchor Links */

a {
	text-decoration: none;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

nav a:hover{
	text-decoration: underline;
}

nav a{
	padding: 1.75em 3.75em;
	text-decoration: none;
	font-family: 'Muli-Light', Helvetica, sans-serif;
	font-size:18px;
	color:#24262f;
	letter-spacing:0;
	text-align:center;
}

nav a:active{
	color: #573697;
}

nav a:focus{
	text-decoration: underline;
	color: #573697;
}

/* IMAGE GALLERY */
.gallery {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
	"image1 image2 image3"
	"image4 image5 image6"
  }
  
.image{
	width: 100%;
}

/* BLOG POST */

.post {
	display: grid;
	max-width: 1000px;
	margin: 120px auto;
	grid-gap: 10px 50px;
	grid-template-areas: ". writing .";
}

.post > *{
	grid-column: 2/-2;
}

.post > figure{
	max-width: 100%;
}

.post > p{
	padding: .3em;
}

.article-text{
	text-align: left;
}

.article-heading1{
	padding: 1em;
	text-align: center;
}
.post h2, h3{
	text-align: left;
}

.post > h2{
	padding: 1em;
}
figcaption {
	text-align: left;
}


  /* Font Awesome Classes And Style*/

#footer_fontawesome_icons li{
	font-size: 2em;
	text-align: center;
	display: inline;
	padding: 2em 1em;
  }

  /* MEDIA QUERIES */

  @media (max-width: 700px) {
	  /* GENERAL */
	  .hero {
		grid-template-columns: 1fr;
	}

	.hero h1{
		font-size: 40px;
	}
	/* HOME PAGE */
	.top-home {
	  grid-template-areas:
		"cta1 cta2"
	}
	/* UX RESEARCH PAGE */
	.top-uxresearch {
		display: grid;
		grid-gap: 20px;
		grid-template-areas:
			"cta1 cta2" 
			"cta3 cta3"
	}
	/* UI RESEARCH PAGE */
	.gallery {
		display: grid;
		grid-gap: 20px;
		grid-template-areas: 
		"image1 image2"
		"image3 image4"
		"image5 image6"
	  }

	/* BLOG POST */
	.post{
		display: grid;
		grid-template-areas:
		". writing ."
	}
  
  @media (max-width: 500px) {
	/* GENERAL */
	.hero {
		grid-template-columns: 1fr;
	}
	.hero h1{
		font-size: 22px;
	}

	.main-nav ul{
		display: grid;
		grid-gap: 10px;
		padding: 1%;
		list-style: none;
		grid-template-areas:
			"li li" 
			"li li" 
	}

	/* HOME PAGE */
	.top-home {
	  grid-template-areas:
		"cta1"
		"cta2"
	}

	/* UX RESEARCH PAGE */
	.top-uxresearch {
		display: grid;
		grid-gap: 20px;
		grid-template-areas:
			"cta1" 
			"cta2"
			"cta3"
	}
	/* UI RESEARCH PAGE */
	.gallery {
		display: grid;
		grid-gap: 20px;
		grid-template-areas: 
		"image1"
		"image2"
		"image3"
		"image4"
		"image5" 
		"image6"
	  }
	 
	/* BLOG POST   */
	.post{
		display: grid;
		grid-template-areas:
		"writing"
	}
  }

  /* LANDSCAPE ORIENTATION FOR PHONES */

  @media only screen and (min-width: 480px) and (max-width: 640px) and (orientation: landscape) {
	/* GENERAL */
	.hero {
		grid-template-columns: 1fr;
	}
	.hero h1{
		font-size: 22px;
	}

	/* HOME PAGE */
	.top-home {
	  grid-template-areas:
		"cta1 cta2"
	}

	/* UX RESEARCH PAGE */
	.top-uxresearch {
		display: grid;
		grid-gap: 20px;
		grid-template-areas:
			"cta1 cta2"
			"cta3 cta3"
	}
	/* UI RESEARCH PAGE */
	.gallery {
		display: grid;
		grid-gap: 20px;
		grid-template-areas: 
		"image1 image2"
		"image3 image4"
		"image5 image6"
	  }


	}
  }