*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color:#FBFCFF;
	text-align: center;
}

#big_wrapper{
	width: 1000px;
	margin: 20px auto;
}

#top_header{
	padding: 20px;
}

#top_menu li{
	text-decoration: none;
	display: inline-block;
	list-style: none;
	padding: 10px;
	color: black;
}

h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
	padding: 15px;
}

nav a{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create two equal columns that sit next to each other */
  .column {
	flex: 50%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	max-width: 400px;
  }